body {
	background: rgb(220,220,220);
	font: Helvetica, Arial;
}

#content {
	width: 1280px;
	margin: 80px auto;
	background: #fff;
	color: rgb(20,20,20);
}

a, a:visited { color: rgb(0,80,255); text-decoration: none; }

#text {
	padding: 20px;
}

#text p {
	margin:0 0 1em;
}